.middlecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 5px 5px 18px 5px #000000;
  padding: 25px;
  width: 36%;
  height: 50%;
}
