.middlecontainer {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  box-shadow: 5px 5px 18px 5px #000000;
  padding: 25px;
  width: 46%;
  height: 70%;
  overflow: auto;
}

@media (max-width: 375px) {
  .middlecontainer {
    width: 70%;
    height: 80%;
  }
}
