.todoli {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  border: 2px solid black;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.editdeletebutton {
  display: flex;
}

.deleteTask {
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: green;
}
.deleteTask :hover {
  background-color: green;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
